<html>
<head>
<meta charset="utf-8">
</head>
<body>
<canvas id="textCharacteristicChart" width="200" height="200"></canvas>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var textChart;
    /**
     * 테스트용
     */
    test('send.json', ['send.json', '1.json', '2.json']);
    function readJson(path) {
        var json = (function() {
            var json = null;
            $.ajax({
                'async': false,
                'global': false,
                'url': path,
                'dataType': "json",
                'success': function (data) {
                    json = data;
                }
            });
            return json;
        })();
        return json;
    }
    function test(initPath, paths) {
        var ctx = document.getElementById('textCharacteristicChart').getContext('2d');
        var chart = initChart(ctx, readJson(initPath));
        paths.forEach(function(path) {
            addDataToChart(chart, path, readJson(path));
        });
    }

    /**
     * 차트 초기화. json에 있는 attr 이용해서 초기화
     * @param json
     */
    function initChart(canvas, json) {
        return new Chart(canvas, {
            type: 'radar',
            data: {
                labels: json.attrs,
                datasets: [

                ]
            },
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                }
            }
        });
    }


    /**
     * 차트에 json 기반으로 그래프 추가
     * @param json
     */
    function addDataToChart(chart, title, json) {
        var ctx = document.getElementById('textCharacteristicChart').getContext('2d');
        data = {
            label: title,
            data: json.scores,
        };
        chart.data.datasets.push(data);
        // textChart.data.datasets.forEach((dataset) => {
        //     dataset.push(data);
        // });
        chart.update();
    }
</script>
</body>
</html>
